<div class="jumbotron">
    <h1 class = "display-4 "> Search your country </h1>

    <hr> 


<div class="mx-auto">
    <div class="formg-group col-lg-5 mx-auto">
    <label for = "c"> Select Country </label>
    <select name=""  class =" form-control" id = "c" #input (change)='updateValues(input.value)'>
        <option value = "{{con}}" *ngFor = "let con of countries">{{con}}</option>
    </select>

</div>
<div>
<app-dashboard-card [totalConfirmed]= 'totalConfirmed' [totalActive]= 'totalActive' [totalRecovered]= 'totalRecovered' [totalDeaths]= 'totalDeaths'>
</app-dashboard-card>

<div class = "card">

    <table class ="table">

        <thead>

            <tr> 
                <th>Serial No.</th>
                <th>Date </th>
                <th>Cases</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor = 'let cs of selectedCountryData; index as i '>
                <td> {{i+1}}</td>
                <td>{{cs.date | date }}</td>
                <td> {{cs.cases}}</td>
            </tr>
        </tbody>


    </table>
</div>
</div>
</div>