<html>
  

<div class="dropdown"> 

    <label class="label"> Country : </label>

    <select (change) = "getCountry($event.target.value)"> 
        <option> Select Country</option>
        
        <option *ngFor="let country of countries" value = {{country.Slug}}> 
        {{country.Country}}
    </option>
    
    </select >

    <br><br>

</div>

<button class=" button" (click)="getCoronaData()" > Update</button>


<div class="boxset" id=" bs">

    <div class="card">
        <div class="container">
          <h4><b>{{Country}}</b></h4> 
          <p>Country Name</p> 
        </div>
      </div>

    <div class="card">
        <div class="container">
          <h4><b>{{Confirmed}}</b></h4> 
          <p>Total Confirmed Cases</p> 
        </div>
      </div>

      <div class="card">
        <div class="container">
          <h4><b>{{Recovered}}</b></h4> 
          <p>Total Recovered Cases</p> 
        </div>
      </div>

      <div class="card">
        <div class="container">
          <h4><b>{{Deaths}} </b></h4> 
          <p>Total Deaths</p> 
        </div>
      </div>


      <div class="card">
        <div class="container">
          <h4><b>{{Active}}</b></h4> 
          <p>Active Cases</p> 
        </div>
      </div>


</div>




</html>